<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{> messages }}

    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/users/sign-up">Sign Up</a></li>
      <li><a href="/sales">All Sales</a></li>
      <li><a href="/sales/new">New Sale</a></li>
    </ul>
    
    {{{body}}}
  </body>
</html>
