<form action="/sales/add" method="POST" class="form-group">
    <div class="form-group">
        <label for="name">Title</label>
        <input type="text" class="form-control" name="title" id="title">
    </div>
    <div class="form-group">
        <label for="name">Description</label>
        <textarea class="form-control" name="description" id="description"></textarea>
    </div>
    <div class="form-group">
        <label for="email">Price</label>
        <input type="text" class="form-control" name="price" id="price">
    </div>
    <div class="form-group">
        <label for="email">URL</label>
        <input type="text" class="form-control" name="url" id="url">
    </div>
    
    <div class="form-group">
        <label for="email">Category</label>
        <select name="category" id="category" class="custom-select">
            <option value="App">App</option>
            <option value="Game">Game</option>
            <option value="Movie">Movie</option>
            <option value="Shoes">Shoes</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>